
        <div class="row">
            <div class="col-md-10">
                <h1>Touch. Draw and Share.</h1>
                Easily share or your ideas using draw to share.
                Supported on computers, Mobile and tablets.
                <br><br>
                Share the URl with your friends, or invite your friends using email, social networking.
                <br><br>
                <div class="form-group">
                    <input required type="text" class="form-control" id="inputError" ng-model="username" placeholder="Enter your name...">
                    <span class="text-danger">{{message}}</span>
                </div>
                <button type="button" class="btn btn-success" ng-click="startClick()">Start Drawing</button>
            </div>
            <div class="col-md-2">
                <img src="app/assets/icons/favicon.png" height="50%" width="50%" alt="logo">
            </div>
        </div>
